$primary-color: #1DB954;
$primary-color-hover: #1ED75F;

$font-light: #FFF;
$font-grey: #9E9E9E;
$font-dark: #000;

$border-primary: #282828;


$background-primary: #121212;
$background-secundary: #212121;
$background-dark: #000;
$background-light: #FFF;

$danger: #B69494;